<a href="https://colab.research.google.com/github/faijurrahman/Trading/blob/main/NickMccullum/002_quantitative_momentum_strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [16]:
!pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.8/dist-packages (3.0.6)

In [18]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy import stats #The SciPy stats module

IEX_CLOUD_API_TOKEN = 'pk_fb8e90340712490d9dac75a21b629ca8'

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [19]:
stocks = pd.read_csv('https://raw.githubusercontent.com/faijurrahman/Trading/main/Data/SnP500_Company_List.csv')
stocks = stocks.drop(stocks[stocks['Symbol'] == 'DISCA'].index)
stocks = stocks.drop(stocks[stocks['Symbol'] == 'VIAC'].index)
stocks = stocks.drop(stocks[stocks['Symbol'] == 'WLTW'].index)
stocks

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[502 rows x 3 columns]

## Making Our First API Call

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [20]:
symbol = 'AAPL'
api_url = f'https://cloud.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2123574671820,
 'week52high': 178.58,
 'week52low': 124.17,
 'week52highSplitAdjustOnly': 179.61,
 'week52lowSplitAdjustOnly': 124.17,
 'week52change': -0.23412380355152207,
 'sharesOutstanding': 15908118000,
 'float': 0,
 'avg10Volume': 82013492,
 'avg30Volume': 84593632,
 'day200MovingAvg': 148.19,
 'day50MovingAvg': 136.68,
 'employees': 147000,
 'ttmEPS': 6.11,
 'ttmDividendRate': 0.906784243631777,
 'dividendYield': 0.006792900169539119,
 'nextDividendDate': '',
 'exDividendDate': '2022-11-04',
 'nextEarningsDate': '2023-02-02',
 'peRatio': 21.27766371571997,
 'beta': 1.3042876917890909,
 'maxChangePercent': 50.748333074895335,
 'year5ChangePercent': 2.207668222962858,
 'year2ChangePercent': 0.048712618646957306,
 'year1ChangePercent': -0.23215548089361937,
 'ytdChangePercent': 0.0273993688909413,
 'month6ChangePercent': -0.07457604088531222,
 'month3ChangePercent': -0.03669423539183503,
 'month1ChangePercent': -0.05980245216254576,
 'day30ChangePercent': -0.07496337689300214,
 'day5ChangePercent': 0.05642608420386197}

## Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course. Here is an example.

In [21]:
data['year1ChangePercent']

-0.23215548089361937

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [25]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Symbol'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,AAP,AMD,AES,AFL,A,APD,AKAM,ALK,ALB,ARE,ALGN,ALLE,LNT,ALL,GOOGL,GOOG,MO,AMZN,AMCR,AEE,AAL,AEP,AXP,AIG,AMT,AWK,AMP,ABC,AME,AMGN,APH,ADI,ANSS,ANTM,AON,APA,AAPL,AMAT,APTV,ANET,AJG,AIZ,T,ATO,ADSK,ADP,AZO,AVB,AVY,BKR,BLL,BAC,BBWI,BAX,BDX,BRK.B,BBY,BIO,TECH,BIIB,BLK,BK,BA,BKNG,BWA,BXP,BSX,BMY,AVGO,BR,BRO,BF.B,CHRW,CDNS,CZR,CPB,COF,CAH,KMX,CCL,CARR,CTLT,CAT,CBOE,CBRE,CDW,CE,CNC,CNP,CDAY,CERN
CF,CRL,SCHW,CHTR,CVX,CMG,CB,CHD,CI,CINF,CTAS,CSCO,C,CFG,CTXS,CLX,CME,CMS,KO,CTSH,CL,CMCSA,CMA,CAG,COP,ED,STZ,CPRT,GLW,CTVA,COST,CTRA,CCI,CSX,CMI,CVS,DHI,DHR,DRI,DVA,DE,DAL,XRAY,DVN,DXCM,FANG,DLR,DFS,DISCK,DISH,DG,DLTR,D,DPZ,DOV,DOW,DTE,DUK,DRE,DD,DXC,EMN,ETN,EBAY,ECL,EIX,EW,EA,LLY,EMR,ENPH,ETR,EOG,EFX,EQIX,EQR,ESS,EL,ETSY,RE,EVRG,ES,EXC,EXPE,EXPD,EXR,XOM,FFIV,FB,FAST,FRT,FDX,FIS,FITB,FRC,FE,FISV,FLT,FMC,F
FTNT,FTV,FBHS,FOXA,FOX,BEN,FCX,GPS,GRMN,IT,GNRC,GD,GE,GIS,GM,GPC,GILD,GPN,GL,GS,HAL,HBI,HAS,HCA,PEAK,HSIC,HES,HPE,HLT,HOLX,HD,HON,HRL,HST,HWM,HPQ,HUM,HBAN,HII,IBM,IEX,IDXX,INFO,ITW,ILMN,INCY,IR,INTC,ICE,IFF,IP,IPG,INTU,ISRG,IVZ,IPGP,IQV,IRM,JBHT,JKHY,J,SJM,JNJ,JCI,JPM,JNPR,KSU,K,KEY,KEYS,KMB,KIM,KMI,KLAC,KHC,KR,LHX,LH,LRCX,LW,LVS,LEG,LDOS,LEN,LNC,LIN,LYV,LKQ,LMT,L,LOW,LUMN,LYB,MTB,MRO,MPC,MKTX,MAR,MMC,MLM
MAS,MA,MTCH,MKC,MCD,MCK,MDT,MRK,MET,MTD,MGM,MCHP,MU,MSFT,MAA,MRNA,MHK,TAP,MDLZ,MPWR,MNST,MCO,MS,MSI,MSCI,NDAQ,NTAP,NFLX,NWL,NEM,NWSA,NWS,NEE,NLSN,NKE,NI,NSC,NTRS,NOC,NLOK,NCLH,NRG,NUE,NVDA,NVR,NXPI,ORLY,OXY,ODFL,OMC,OKE,ORCL,OGN,OTIS,PCAR,PKG,PH,PAYX,PAYC,PYPL,PENN,PNR,PBCT,PEP,PKI,PFE,PM,PSX,PNW,PXD,PNC,POOL,PPG,PPL,PFG,PG,PGR,PLD,PRU,PTC,PEG,PSA,PHM,PVH,QRVO,QCOM,PWR,DGX,RL,RJF,RTX,O,REG,REGN,RF,RSG,RMD,RHI,ROK,ROL
ROP,ROST,RCL,SPGI,CRM,SBAC,SLB,STX,SEE,SRE,NOW,SHW,SPG,SWKS,SNA,SO,LUV,SWK,SBUX,STT,STE,SYK,SIVB,SYF,SNPS,SYY,TMUS,TROW,TTWO,TPR,TGT,TEL,TDY,TFX,TER,TSLA,TXN,TXT,COO,HIG,HSY,MOS,TRV,DIS,TMO,TJX,TSCO,TT,TDG,TRMB,TFC,TWTR,TYL,TSN,USB,UDR,ULTA,UAA,UA,UNP,UAL,UPS,URI,UNH,UHS,VLO,VTR,VRSN,VRSK,VZ,VRTX,VFC,VTRS,V,VNO,VMC,WRB,GWW,WAB,WBA,WMT,WM,WAT,WEC,WFC,WELL,WST,WDC,WU,WRK,WY,WHR,WMB,WYNN,XEL,XLNX,XYL,YUM,ZBRA,ZBH
ZION,ZTS

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [27]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://cloud.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    #print(data)
    for symbol in symbol_string.split(','):
        #print(symbol)
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker   Price  One-Year Price Return Number of Shares to Buy
0      MMM  129.35              -0.247990                     N/A
1      AOS   61.40              -0.238298                     N/A
2      ABT  111.36              -0.152183                     N/A
3     ABBV  152.22               0.192184                     N/A
4     ABMD  381.02               0.000000                     N/A
..     ...     ...                    ...                     ...
497    YUM  128.89               0.011655                     N/A
498   ZBRA  292.99              -0.443359                     N/A
499    ZBH  123.20              -0.023549                     N/A
500   ZION   51.45              -0.248882                     N/A
501    ZTS  159.91              -0.252545                     N/A

[502 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [28]:
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataframe = final_dataframe[:51]
final_dataframe.reset_index(drop = True, inplace = True)
final_dataframe

   Ticker   Price  One-Year Price Return Number of Shares to Buy
0     OXY   65.74               0.862415                     N/A
1     MPC  121.01               0.659945                     N/A
2     VLO  135.32               0.650442                     N/A
3     HES  150.73               0.633812                     N/A
4     XOM  113.22               0.622819                     N/A
5    ENPH  241.80               0.608107                     N/A
6     SLB   58.00               0.553960                     N/A
7     HAL   42.17               0.515202                     N/A
8     KSU  293.59               0.506512                     N/A
9     MCK  380.84               0.501232                     N/A
10    CAH   76.52               0.498274                     N/A
11    COP  120.16               0.484696                     N/A
12    MRO   27.38               0.467668                     N/A
13   NLSN   27.98               0.439278                     N/A
14     LW   97.06               0.421477                     N/A
15    CVX  177.08               0.418387                     N/A
16    NUE  155.71               0.417041                     N/A
17    MRK  111.77               0.403703                     N/A
18    LLY  359.12               0.392711                     N/A
19    APA   45.34               0.391814                     N/A
20    LVS   53.50               0.370399                     N/A
21   TMUS  149.93               0.340903                     N/A
22    DVN   64.03               0.336341                     N/A
23    EOG  130.45               0.335489                     N/A
24     CI  310.22               0.303896                     N/A
25   CTVA   62.58               0.298242                     N/A
26    LMT  461.74               0.296767                     N/A
27    WRB   73.03               0.294264                     N/A
28   VRTX  296.26               0.292284                     N/A
29   ULTA  491.87               0.283815                     N/A
30    PWR  147.81               0.282078                     N/A
31   ANTM  482.58               0.281524                     N/A
32    CPB   54.73               0.272287                     N/A
33    HUM  494.29               0.267113                     N/A
34     RE  349.61               0.263594                     N/A
35    GPC  168.95               0.261529                     N/A
36   GILD   85.73               0.259756                     N/A
37    GIS   82.53               0.259453                     N/A
38    ADM   87.39               0.253195                     N/A
39    NOC  487.98               0.244326                     N/A
40   CTRA   25.39               0.243328                     N/A
41    CAG   40.13               0.236580                     N/A
42     CF   86.31               0.234644                     N/A
43    ABC  164.90               0.231157                     N/A
44     ED   97.53               0.228986                     N/A
45    SRE  160.93               0.228470                     N/A
46    PXD  239.18               0.228241                     N/A
47    PSX  102.86               0.225951                     N/A
48    FMC  129.38               0.224823                     N/A
49    AES   27.69               0.221559                     N/A
50    PGR  132.94               0.218219                     N/A

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

Since we've already done most of the work on this, try to complete the following two code cells without watching me do it first!

In [29]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

portfolio_input()
print(portfolio_size)

Enter the value of your portfolio:10000
10000

In [30]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

   Ticker   Price  One-Year Price Return Number of Shares to Buy
0     OXY   65.74               0.862415                       2
1     MPC  121.01               0.659945                       1
2     VLO  135.32               0.650442                       1
3     HES  150.73               0.633812                       1
4     XOM  113.22               0.622819                       1
5    ENPH  241.80               0.608107                       0
6     SLB   58.00               0.553960                       3
7     HAL   42.17               0.515202                       4
8     KSU  293.59               0.506512                       0
9     MCK  380.84               0.501232                       0
10    CAH   76.52               0.498274                       2
11    COP  120.16               0.484696                       1
12    MRO   27.38               0.467668                       7
13   NLSN   27.98               0.439278                       7
14     LW   97.06               0.421477                       2
15    CVX  177.08               0.418387                       1
16    NUE  155.71               0.417041                       1
17    MRK  111.77               0.403703                       1
18    LLY  359.12               0.392711                       0
19    APA   45.34               0.391814                       4
20    LVS   53.50               0.370399                       3
21   TMUS  149.93               0.340903                       1
22    DVN   64.03               0.336341                       3
23    EOG  130.45               0.335489                       1
24     CI  310.22               0.303896                       0
25   CTVA   62.58               0.298242                       3
26    LMT  461.74               0.296767                       0
27    WRB   73.03               0.294264                       2
28   VRTX  296.26               0.292284                       0
29   ULTA  491.87               0.283815                       0
30    PWR  147.81               0.282078                       1
31   ANTM  482.58               0.281524                       0
32    CPB   54.73               0.272287                       3
33    HUM  494.29               0.267113                       0
34     RE  349.61               0.263594                       0
35    GPC  168.95               0.261529                       1
36   GILD   85.73               0.259756                       2
37    GIS   82.53               0.259453                       2
38    ADM   87.39               0.253195                       2
39    NOC  487.98               0.244326                       0
40   CTRA   25.39               0.243328                       7
41    CAG   40.13               0.236580                       4
42     CF   86.31               0.234644                       2
43    ABC  164.90               0.231157                       1
44     ED   97.53               0.228986                       2
45    SRE  160.93               0.228470                       1
46    PXD  239.18               0.228241                       0
47    PSX  102.86               0.225951                       1
48    FMC  129.38               0.224823                       1
49    AES   27.69               0.221559                       7
50    PGR  132.94               0.218219                       1

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation `hqm` often. It stands for `high-quality momentum`.

In [31]:
hqm_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
                ]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://cloud.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   'N/A',
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   'N/A',
                                                   'N/A'
                                                   ], 
                                                  index = hqm_columns), 
                                        ignore_index = True)
        
hqm_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'One-Year Price Return',
       'One-Year Return Percentile', 'Six-Month Price Return',
       'Six-Month Return Percentile', 'Three-Month Price Return',
       'Three-Month Return Percentile', 'One-Month Price Return',
       'One-Month Return Percentile', 'HQM Score'],
      dtype='object')

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

Here's how we'll do this:

In [32]:
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]

for row in hqm_dataframe.index:
    for time_period in time_periods:
        hqm_dataframe.loc[row, f'{time_period} Return Percentile'] = stats.percentileofscore(hqm_dataframe[f'{time_period} Price Return'], hqm_dataframe.loc[row, f'{time_period} Price Return'])/100

# Print each percentile score to make sure it was calculated properly
for time_period in time_periods:
    print(hqm_dataframe[f'{time_period} Return Percentile'])

#Print the entire DataFrame    
hqm_dataframe

0      0.213147
1      0.239044
2      0.358566
3      0.876494
4      0.635458
         ...
497    0.663347
498    0.045817
499    0.565737
500    0.211155
501    0.209163
Name: One-Year Return Percentile, Length: 502, dtype: object
0      0.358566
1      0.565737
2      0.428287
3      0.422311
4      0.304781
         ...
497    0.581673
498     0.37251
499    0.752988
500    0.384462
501    0.113546
Name: Six-Month Return Percentile, Length: 502, dtype: object
0      0.641434
1      0.842629
2      0.374502
3      0.386454
4      0.131474
         ...
497    0.741036
498     0.63745
499    0.482072
500    0.219124
501    0.286853
Name: Three-Month Return Percentile, Length: 502, dtype: object
0      0.478088
1      0.796813
2      0.653386
3      0.099602
4      0.290837
         ...
497    0.396414
498    0.984064
499    0.312749
500    0.828685
501    0.501992
Name: One-Month Return Percentile, Length: 502, dtype: object

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,MMM,129.35,N/A,-0.247990,0.213147,0.022964,0.358566,0.200220,0.641434,0.026718,0.478088,N/A
1,AOS,61.40,N/A,-0.238298,0.239044,0.115476,0.565737,0.276492,0.842629,0.073413,0.796813,N/A
2,ABT,111.36,N/A,-0.152183,0.358566,0.048666,0.428287,0.117286,0.374502,0.052460,0.653386,N/A
3,ABBV,152.22,N/A,0.192184,0.876494,0.045842,0.422311,0.121965,0.386454,-0.036121,0.099602,N/A
4,ABMD,381.02,N/A,0.000000,0.635458,0.000000,0.304781,0.000000,0.131474,0.000000,0.290837,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
497,YUM,128.89,N/A,0.011655,0.663347,0.123418,0.581673,0.237857,0.741036,0.015504,0.396414,N/A
498,ZBRA,292.99,N/A,-0.443359,0.045817,0.027734,0.37251,0.199112,0.63745,0.192245,0.984064,N/A
499,ZBH,123.20,N/A,-0.023549,0.565737,0.208465,0.752988,0.149887,0.482072,0.001252,0.312749,N/A
500,ZION,51.45,N/A,-0.248882,0.211155,0.033735,0.384462,0.052224,0.219124,0.080859,0.828685,N/A
501,ZTS,159.91,N/A,-0.252545,0.209163,-0.104576,0.113546,0.081952,0.286853,0.029402,0.501992,N/A

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

In [33]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

In [34]:
hqm_dataframe.sort_values(by = 'HQM Score', ascending = False)
hqm_dataframe = hqm_dataframe[:51]

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

In [35]:
portfolio_input()

Enter the value of your portfolio:10000

In [36]:
position_size = float(portfolio_size) / len(hqm_dataframe.index)
for i in range(0, len(hqm_dataframe['Ticker'])-1):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / hqm_dataframe['Price'][i])
hqm_dataframe

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,MMM,129.35,1,-0.247990,0.213147,0.022964,0.358566,0.200220,0.641434,0.026718,0.478088,0.422809
1,AOS,61.40,3,-0.238298,0.239044,0.115476,0.565737,0.276492,0.842629,0.073413,0.796813,0.611056
2,ABT,111.36,1,-0.152183,0.358566,0.048666,0.428287,0.117286,0.374502,0.052460,0.653386,0.453685
3,ABBV,152.22,1,0.192184,0.876494,0.045842,0.422311,0.121965,0.386454,-0.036121,0.099602,0.446215
4,ABMD,381.02,0,0.000000,0.635458,0.000000,0.304781,0.000000,0.131474,0.000000,0.290837,0.340637
5,ACN,283.84,0,-0.237344,0.241036,0.035010,0.390438,0.120582,0.38247,-0.021429,0.141434,0.288845
6,ATVI,76.90,2,0.176275,0.864542,-0.010156,0.270916,0.046907,0.209163,0.024481,0.458167,0.450697
7,ADM,87.39,2,0.253195,0.924303,0.204123,0.743028,0.008682,0.151394,-0.056596,0.067729,0.471614
8,ADBE,344.45,0,-0.352828,0.101594,-0.107325,0.111554,0.203981,0.649402,0.037170,0.555777,0.354582
9,AAP,152.19,1,-0.315553,0.135458,-0.140147,0.081673,-0.082674,0.045817,0.061683,0.711155,0.243526
10,AMD,70.81,2,-0.497050,0.02988,-0.102534,0.119522,0.198334,0.629482,0.006852,0.342629,0.280378
11,AES,27.69,7,0.221559,0.90239,0.319050,0.898406,0.130333,0.406375,-0.027700,0.121514,0.582171
12,AFL,71.80,2,0.167046,0.856574,0.299058,0.880478,0.244940,0.750996,0.027873,0.488048,0.744024
13,A,156.49,1,0.085725,0.778884,0.288824,0.86255,0.260792,0.810757,0.035671,0.551793,0.750996
14,APD,310.21,0,0.078159,0.772908,0.352551,0.922311,0.359827,0.916335,-0.000014,0.282869,0.723606
15,AKAM,88.60,2,-0.217686,0.262948,-0.020424,0.231076,0.136690,0.434263,-0.003258,0.25498,0.295817
16,ALK,49.40,3,-0.148062,0.370518,0.182449,0.717131,0.170839,0.541833,0.070467,0.778884,0.602092
17,ALB,243.21,0,-0.008600,0.601594,0.187283,0.723108,-0.132065,0.031873,-0.064412,0.051793,0.352092
18,ARE,155.88,1,-0.240245,0.23506,0.089522,0.513944,0.152643,0.496016,0.038506,0.561753,0.451693
19,ALGN,235.71,0,-0.581588,0.011952,-0.061408,0.167331,0.123339,0.39243,0.240189,0.994024,0.391434
20,ALLE,113.51,1,-0.091563,0.476096,0.175131,0.701195,0.250686,0.776892,0.049554,0.629482,0.645916
21,LNT,55.80,3,-0.035983,0.545817,-0.018860,0.237052,0.121993,0.388446,0.011390,0.358566,0.38247
22,ALL,137.07,1,0.146575,0.836653,0.074814,0.486056,0.046259,0.205179,0.075301,0.802789,0.582669
23,GOOGL,91.10,2,-0.345051,0.10757,-0.208828,0.035857,-0.058242,0.057769,-0.014112,0.167331,0.092131
24,GOOG,91.88,2,-0.341082,0.113546,-0.208222,0.037849,-0.059052,0.053785,-0.008703,0.207171,0.103088
25,MO,45.40,4,0.002045,0.651394,0.139750,0.615538,0.054490,0.2251,0.001213,0.310757,0.450697
26,AMZN,95.26,2,-0.424959,0.053785,-0.149083,0.073705,-0.152571,0.023904,0.067348,0.752988,0.226096
27,AMCR,12.20,16,0.036084,0.697211,-0.013366,0.260956,0.141529,0.454183,-0.015360,0.163347,0.393924
28,AEE,89.75,2,0.062749,0.743028,0.037727,0.396414,0.171506,0.547809,0.022684,0.438247,0.531375
29,AAL,16.82,11,-0.193481,0.296813,0.142219,0.625498,0.251223,0.780876,0.133777,0.944223,0.661853
30,AEP,96.42,2,0.124845,0.800797,0.045370,0.418327,0.161146,0.515936,0.010872,0.354582,0.52241
31,AXP,154.92,1,-0.110132,0.434263,0.102882,0.539841,0.128818,0.40239,0.003597,0.322709,0.424801
32,AIG,63.68,3,0.050862,0.723108,0.247035,0.788845,0.327390,0.888446,0.020334,0.418327,0.704681
33,AMT,232.21,0,-0.107880,0.438247,-0.109332,0.10757,0.205262,0.651394,0.066779,0.749004,0.486554
34,AWK,159.42,1,-0.024272,0.563745,0.084567,0.498008,0.269841,0.830677,0.033816,0.541833,0.608566
35,AMP,331.17,0,0.029371,0.693227,0.438519,0.956175,0.244264,0.747012,0.027878,0.49004,0.721614
36,ABC,164.90,1,0.231157,0.914343,0.181273,0.711155,0.174365,0.557769,0.000363,0.300797,0.621016
37,AME,145.55,1,0.027305,0.687251,0.304019,0.886454,0.266345,0.818725,0.045791,0.605578,0.749502
38,AMGN,271.01,0,0.211507,0.894422,0.117571,0.567729,0.119580,0.378486,-0.020599,0.145418,0.496514
39,APH,80.90,2,-0.012288,0.591633,0.248605,0.794821,0.195312,0.625498,0.030426,0.507968,0.62998
40,ADI,168.69,1,-0.003601,0.613546,0.161335,0.669323,0.228717,0.717131,0.006581,0.338645,0.584661
41,ANSS,251.81,0,-0.317269,0.131474,0.032005,0.380478,0.258723,0.802789,0.041080,0.573705,0.472112
42,ANTM,482.58,0,0.281524,0.938247,0.055851,0.446215,0.006371,0.14741,-0.070555,0.043825,0.393924
43,AON,315.87,0,0.093298,0.784861,0.143611,0.62749,0.132374,0.414343,0.021297,0.430279,0.564243
44,APA,45.34,4,0.391814,0.962151,0.293217,0.870518,0.089007,0.308765,0.046823,0.615538,0.689243
45,AAPL,133.38,1,-0.232155,0.249004,-0.074576,0.14741,-0.036694,0.071713,-0.059802,0.061753,0.13247
46,AMAT,110.19,1,-0.272676,0.195219,0.248140,0.792829,0.445976,0.968127,0.025340,0.462151,0.604582
47,APTV,101.67,1,-0.378334,0.083665,0.134499,0.603586,0.211914,0.675299,0.064322,0.733068,0.523904
48,ANET,117.18,1,-0.126520,0.410359,0.143854,0.629482,0.086688,0.300797,-0.090461,0.01992,0.340139
49,AJG,194.99,1,0.209644,0.890438,0.186780,0.721116,0.114306,0.368526,0.020487,0.420319,0.6001
50,AIZ,126.00,N/A,-0.186345,0.312749,-0.283839,0.021912,-0.156685,0.021912,-0.028920,0.119522,0.119024

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [37]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [38]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [39]:
column_formats = { 
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['One-Year Price Return', percent_template],
                    'E': ['One-Year Return Percentile', percent_template],
                    'F': ['Six-Month Price Return', percent_template],
                    'G': ['Six-Month Return Percentile', percent_template],
                    'H': ['Three-Month Price Return', percent_template],
                    'I': ['Three-Month Return Percentile', percent_template],
                    'J': ['One-Month Price Return', percent_template],
                    'K': ['One-Month Return Percentile', percent_template],
                    'L': ['HQM Score', integer_template]
                    }

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

## Saving Our Excel Output

As before, saving our Excel output is very easy:

In [40]:
writer.save()